/* Add your CSS to this file */
header {
    background-color: white;
    font-size: 18px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 16px;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    flex-direction: row;
    position: relative;
}

nav ul {

    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    right: 0;

}

li{
    display: inline;
    padding: 25px;
    float: right;
}

.overview-hero .container{
    display: flex;
    padding: 4em;
    background-color: #E2E8F0;

}



.overview-hero .container > .overview-hero-image .img{
    float: right;
    max-width: 70%;
    mix-blend-mode: multiply;
    padding: 45px;
    height: auto;

}


nav a {
   color: #6b7280;
}

nav a:hover{
    color: #5a67d8;

}

nav ul ::after{
    content: '  \00a0';

}

header h1{
    justify-content: flex-start;
    margin-left: 20px;

}

main {
    display: grid;
    
}
section {
    display: flex;
}

learn-about .container {
    display: grid;
    justify-items: center;
    align-items: center;

}

.cards{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    padding: 20px;
    grid-column-gap: 40px;
}

.card{
    border: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 5px grey;

}

.card ::after{
    content: '\00a0';

}

.card img{
    max-width: 100%;
    height: auto;
}

.card h3{
    color: #48BB78;

}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;

}

.learn-about h3{
    color: #48BB78;
    font: 21px;
}

.testing{
    background-color: #4A5568;
    color: white;
}

.testing .container{
    display: flex;
    padding: 2em;
    flex-direction: row;
    align-items: center;
    background-color: #4A5568;
    color: white;

}
.cta .btn{

    background-color: #48BB78;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    float: right;
    text-align: center;

}

.stories .container{
    display: grid;

}

.stories h3{
    font-size: 18px;
    color: #5a67d8;
}

.stories a{
    color: #5a67d8;
}

.stories img{
    float: left;
    max-width: 15%;
    height: auto;
    padding: 3em;
    border-radius: 50%;
}

.newsletter .container{
    background-color: #48BB78;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 3em;

}

.newsletter p, .newsletter h3{
    color: white;
}

form{
    display: flex;
    justify-content: center;
}

.form-group{
    padding: 15px;
}

form button {
    background-color: #5a67d8;
    padding: 15px 32px;
    text-align: center;
    border: none;
    border-radius: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}

input[type= email i]{
    margin: 8px 0;
    box-sizing: border-box;
    padding: 20px 65px;
}

footer{
    background-color: #4A5568;
    color: white;
    display: flex;
    margin: 0 auto;
    max-width: 1055px;
    width: 100%;
    padding: 15px;
}