/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

nav ul {
    justify-content: right;
    display: inline-flex;
    list-style-type: none;

}

nav ul ::after{
    content: '\00a0';

}

header h1{
    justify-content: left;
    margin-left: 20px;
    color: aqua;
}

section {
    display: flex;
}

learn-about .container {
    display: grid;
    justify-items: center;
    align-items: center;

}

.card{
    justify-content: center;
}


.card ::after{
    content: '\00a0';

}